/*estilos para el menu de naegacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-navegacion {
    width: 100%;
    height: 80px;
    background-color: #0dc285;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(255, 255, 255);
}

.menu {
    width: 400px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-navegacion .menu > ul {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul > li {
    list-style: none;
    position: relative;
}

.menu-navegacion .menu > ul > li>a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.menu-navegacion .menu>ul >li> a:hover {
    color: #000000;
}



.menu-user{
    width: 200px;
    position: relative;
    /*scroll hasia la izquierda pero que no se muestre la barra latera*/
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    display: flex;
    padding: 0;
}

.menu-user .nombre{
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    top: 80px;
    width: 190px;
    height: 50px;
    position: absolute;
}

.nombre button p{
    font-size: 15px;
}

.nombre button{
    border: none;
    width: 30px;
    background-color: #0dc285;
    cursor: pointer;
    display: flex;
    color: #000000;
    
}

.nombre button:hover {
    color: #fff;
}

.bx-right-arrow-alt{
    font-size: 17px;
    transition: .5s;
}

.abajo{
    /*rota  40 grados a la isquierda*/
    transform: rotate(90deg);
    transition: .5s;
}

.user{
    width:200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0dc285;
    position: relative;
    top:140px;
    margin: 0  0 0 200px;
    transition: 1s;
}

.mostrar{
    margin: 0;
}

.user a{
    text-decoration: none;
    color: #fff;
}

.user a:hover{
    text-decoration: none;
    color: #000000;
}

